/* Common style for theme start*/
h1, h2, h3, h4, h5, h6{
    font-family: "BBH Bartle", sans-serif;
}
/* Common style for theme ended */

/* Nav section start */
#nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

#nav-menu li {
    position: relative;
    list-style-type: none;
}

#nav-menu li a {
    color: #000000;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    transition: background 0.3s ease;
}

#nav-menu li a:hover {
    background-color: #ff9800;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    list-style: none;
    display: none;
}

.dropdown-menu li a {
    padding: 10px 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/* Nav section ended */