/* Common style for theme start*/
h1, h2, h3, h4, h5, h6, p{
    font-family: "Roboto", sans-serif;
}
/* Common style for theme ended */

/* Nav section start */
#nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

#nav-menu li {
    position: relative;
    list-style-type: none;
}

#nav-menu li a {
    color: #000000;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    transition: background 0.3s ease;
}

#nav-menu li a:hover {
    background-color: #ff9800;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    list-style: none;
    /* display: none; */
}

.dropdown-menu li a {
    padding: 10px 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/* Nav section ended */

/* Menu Position start*/
#header_area.left_menu .col-md-3{
    order: 2;
}
#header_area.left_menu .col-md-9{
    order: 1;
}
#header_area.left_menu .col-md-9 ul{
    text-align: left;
}
#header_area.center_menu .col-md-3{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
#header_area.center_menu .col-md-9{
    width: 100%;
}
#header_area.center_menu .col-md-9 ul{
    text-align: center;
}
/* Menu Position ended */

/* Footer section start */
#copyright_area{
    background-color: #e6dcdc;
    padding: 15px;
}
#copyright_area a{
color: #DE335F;
text-decoration: none;
}
#copyright_area a:hover{
text-decoration: underline;
}
/* Footer section ended */